:root {
    --primary-color: rgb(46, 43, 43);   
    --secondary-color: rgb(63, 155, 63); 
}

body {
    background-color: var(--primary-color);
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--secondary-color);
    color: wheat;

    text-align: center;
    padding: 10px;

    border-radius: 8px;
}

.card {
    max-height: 300px;
    max-width: 500px;

    padding: 15px 30px 15px 30px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;

    background-color: wheat;
}

.button {
    height: 35px;
    width: 150px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: 1px solid var(--secondary-color);
    border-radius: 8px;

    background-color: var(--secondary-color);
    color: wheat;

    outline: none;
    cursor: pointer;

    transition: 200ms;
}

.button:hover {
    background-color: rgb(63, 130, 60);
}

p {
    font-size: 20px;
}
