body {
    background-color: blueviolet;
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: blueviolet;
    color: wheat;

    text-align: center;
    padding: 10px;

    border-radius: 8px;
}

.card {
    max-height: 300px;
    max-width: 500px;

    padding: 15px 30px 15px 30px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;

    background-color: wheat;
}

.button {
    height: 35px;
    width: 150px;

    border: 1px solid blueviolet;
    border-radius: 8px;

    background-color: blueviolet;
    color: wheat;

    outline: none;
    cursor: pointer;

    transition: 200ms;
}

.button:hover {
    background-color: rgb(112, 34, 185);
}

p {
    font-size: 20px;
}
